Coronel_Morris-DBs/Ch15-DB-Conn-Web-Tech/XML/OrderData.dtd

<!ELEMENT OrderData (ORD_ID,ORD_DATE,CUS_NAME,ORD_SHIPTO,ORD_PRODS*,ORD_TOT)>
<!ELEMENT ORD_ID        (#PCDATA )>
<!ELEMENT ORD_DATE      (#PCDATA )> 		
<!ELEMENT CUS_NAME      (#PCDATA )>
<!ELEMENT ORD_SHIPTO	(#PCDATA )>
<!ELEMENT ORD_PRODS     (P_CODE, P_DESCRIPT, P_QOH, P_PRICE)+>
<!ELEMENT P_CODE	(#PCDATA )>
<!ELEMENT P_DESCRIPT	(#PCDATA )>
<!ELEMENT P_QOH	        (#PCDATA )>
<!ELEMENT P_PRICE	(#PCDATA )>		
<!ELEMENT ORD_TOT   	(#PCDATA )>
