Coronel_Morris-DBs/Ch15-DB-Conn-Web-Tech/XML/productlist.dtd

<!ELEMENT ProductList (Product+)>
<!ELEMENT Product (P_CODE, P_DESCRIPT, P_INDATE?, P_QOH, P_MIN?,P_PRICE)>
<!ELEMENT P_CODE 	(#PCDATA )>
<!ELEMENT P_DESCRIPT 	(#PCDATA )>
<!ELEMENT P_INDATE 	(#PCDATA )>
<!ELEMENT P_QOH 	(#PCDATA )>
<!ELEMENT P_MIN 	(#PCDATA )>
<!ELEMENT P_PRICE 	(#PCDATA )>
